@import "tailwindcss";



.glow-background-3d {
  position: fixed;
  inset: 0;
  z-index: -20;
  background-image:
    
    linear-gradient(180deg, #0d0d0d 0%, #0a0a0a 10%);
  background-size: cover;
  background-repeat: no-repeat;
  pointer-events: none;
}




@keyframes randomMove {
  0% {
    transform: translate(var(--x1, 0vw), var(--y1, 0vh)) scale(var(--s1, 1));
  }
  50% {
    transform: translate(var(--x2, 50vw), var(--y2, 50vh)) scale(var(--s2, 1.2));
  }
  100% {
    transform: translate(var(--x1, 0vw), var(--y1, 0vh)) scale(var(--s1, 1));
  }
}

.blob {
  position: absolute;
  border-radius: 9999px;
  filter: blur(80px);
  opacity: 0.3;
  animation: randomMove 10s ease-in-out infinite;
  will-change: transform;
}

@keyframes fadeSlideRight {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.fade-slide-right {
  animation: fadeSlideRight 1.2s ease-out forwards;
}

.glass-button {
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border: 1px solid #a855f7;
  box-shadow: 0 0 5px rgba(168, 85, 247, 0.6), 0 0 30px rgba(168, 85, 247, 0.4);
  border-radius: 0.6rem;
  padding: 0.6rem 1.35rem;
  transition: all 0.3s ease-in-out;
}

.glass-button:hover {
  box-shadow: 0 0 20px rgba(168, 85, 247, 0.6), 0 0 30px rgba(144, 50, 233, 0.4);
  transform: translateY(-2px) scale(1.05);
}

.icon-hover{
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  border: 1px solid #59595a;
  box-shadow: 0 0 5px rgba(168, 85, 247, 0.6), 0 0 30px rgba(168, 85, 247, 0.4);
  border-radius: 0.5rem;
  padding: 0.3rem 0.8rem;
  transition: all 0.3s ease-in-out;
}

.icon-hover:hover{
  color: #a855f7;
  box-shadow: 0 0 20px rgba(168, 85, 247, 0.6), 0 0 30px rgba(168, 85, 247, 0.4);
}

@layer utilities {
  .typewriter {
    @apply inline-block overflow-hidden whitespace-nowrap border-r-2 border-purple-500 text-white;
    animation: typing 3s steps(30, end) forwards, blink 0.8s step-end infinite;
  }

  @keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  @keyframes blink {
    0%, 100% { border-color: transparent }
    50% { border-color: #a855f7 }
  }
}



.blob {
  @apply absolute rounded-full;
  animation: blob-animate 20s infinite ease-in-out;
}
.shadow-xl {
  box-shadow: 0 0 40px rgba(255, 255, 255, 0.1);
}
